
.barra {
	text-align: left;
	width: 100%;
	background-color: lightgray;
	height: 70px;
	padding-top: 15px;
}

.boton {
	display: inline-block;
	left: 20px;
	width: 100px;
	padding: 8px 15px 8px 15px;
	color: white;
	background-color: black;
	border-color: blue;
	border-style: solid;
	border-radius: 5px;
	font-family: serif;
	font-size: 21px;
	margin-left: 10px;
}

.boton:hover {
	background-color: blue;
	cursor: pointer;
}

#contenedor {
	margin-top: 10px;
	overflow: scroll;
	background-color: gray;
	height: 1000px;
}

#divBuscar{
	float: right;
	margin-right: 20px;
	margin-top: 10px;

}

