body {
	text-align: center;	
}

.titulo {
	background-color: blue;
	text-align: center;
	color: white;
	text-shadow: 5px 5px 10px red;
}

.celular {
	background-color: lightblue;
	width: 30%;
	border-radius: 20px;
	height:45 	0px;
	float: left;
	margin-right: 30px;
	margin-top: 30px;
	border-color: green;
	border-style: outset;
}

.precio {
	border-radius: 10px;
	margin-left: 3%;
	margin-bottom: 2%;
	float: left;
	color: blue;
	background-color: lightblue;
	width: 95%;
}

.contenido img {
	width: 100%;
	height: 100%;
}

.imagen {	
	width: 55%;
	float: left;
	height: 300px;
}

.imagen img {
	width: 90%;
	height: 95%;
}

.descripcion {
	width: 45%;
	float: right;
	height: 300px;
	text-align: left;
}
