#imagenGrande {
	background-color: gray;
	width: 800px;
	height: 500px;
	position: fixed;
	left: 20%;
}

.imagenes{
	background-color: gray;
	width: 800px;
	position: fixed;
	top: 520px;
	left: 20%;
	height: 140px;
	text-align: center;
}

.imagenChica {
	background-color: green;
	display: inline-block;
	margin-top: 5px;
	margin-right: 4px;
	width: 145px;
	height: 90%;

}

.imagenesChicas {
	width: 100%;
	height: 100%; 	
}

#imgP{
	width: 100%;
	height: 100%;
}