#uno {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}

#dos {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}
#tres {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}
#cuatro {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}
#cinco {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}
#seis {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}

#siete {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}

#ocho {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}

#nueve {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}

#diez {
	background-color: green;
	width: 100%;
	padding: 30px;
	margin-bottom: 10px;
}